

<!-- Formulario de prueba -->
<form [formGroup]="fichadatos1Service.form" class="normal-form" (submit)="onSaveFormFichaDatos1()">
    <mat-tab-group>
    
        <mat-tab label="DATOS">
      
            <div class="container">
      
              <mat-form-field>
                <input matInput  formControlName="IDCG" placeholder="ID CG" name="IDCG" [(ngModel)]="this.fichadatos1Service.selected.IDCG">
               </mat-form-field>
               <mat-form-field>
                <input matInput  formControlName="IDLOCAL" placeholder="ID LOCAL" name="IDLOCAL" [(ngModel)]="this.fichadatos1Service.selected.IDLOCAL">
              </mat-form-field>
             <mat-form-field>
                <input matInput formControlName="IDENT" placeholder="ID ENT" name="IDENT" [(ngModel)]="this.fichadatos1Service.selected.IDENT">
              </mat-form-field>
              <mat-form-field>
                <input matInput formControlName="DNI" placeholder="DNI DEL NIÑO" name="DNI" [(ngModel)]="this.fichadatos1Service.selected.DNI">
              </mat-form-field>
              <mat-form-field>
                <input matInput formControlName="CODIGO" placeholder="CODIGO DEL NIÑO(A) PNCM" name="CODIGO" [(ngModel)]="this.fichadatos1Service.selected.CODIGO">
              </mat-form-field>
    
          
            <br>
            <br>
            <br>
          <mat-label>.................</mat-label>
            </div>
        </mat-tab>
      
        <mat-tab label="DIRECCIÓN"> 
          <div class="container">
          
            <mat-label>A. UBICACIÓN GEOGRÁFICA</mat-label><br>
            <mat-label>A.1 Departamento</mat-label>
          <mat-form-field class="example-full-width">
              <mat-select placeholder="" name="A1DEPA" [(ngModel)]="this.fichadatos1Service.selected.A1DEPA"  formControlName="A1DEPA">
                  <mat-option value="">Seleccione</mat-option>
                  <mat-option value="1">SI</mat-option>
                  <mat-option value="2">NO</mat-option>
                  <mat-option value="8">NR/NS</mat-option>
                </mat-select>
          </mat-form-field><br>
    
          <mat-label>A.2 Provincia</mat-label>
          <mat-form-field><br>
            <mat-select placeholder="" name="A2PROV" [(ngModel)]="this.fichadatos1Service.selected.A2PROV" formControlName="A2PROV">
                <mat-option value="">Seleccione</mat-option>
                <mat-option value="1">SI</mat-option>
                <mat-option value="2">NO</mat-option>
                <mat-option value="8">NR/NS</mat-option>
              </mat-select>
          </mat-form-field><br>
    
          
          <mat-label>A.3 Distrito</mat-label>
          <mat-form-field>
            <mat-select placeholder="" name="A3DISTRITO" [(ngModel)]="this.fichadatos1Service.selected.A3DISTRITO" formControlName="A3DISTRITO">
                <mat-option value="">Seleccione</mat-option>
                <mat-option value="1">SI</mat-option>
                <mat-option value="2">NO</mat-option>
                <mat-option value="8">NR/NS</mat-option>
              </mat-select>
          </mat-form-field><br>

          <mat-label>B. DIRECCION DE LA VIVIENDA</mat-label><br>
    
          <mat-label>B.1 Tipo de vía (ENCUESTADOR: Circule solo un código)
            Avenida……..1 Jirón……..2 Calle..……3 Pasaje…..…4 Carretera….....5 Prolongación.…....6 Otro (especifique)______________ 7</mat-label>
            <mat-form-field>
                    <input matInput formControlName="B1TIPO_VIA" placeholder="" name="B1TIPO_VIA" [(ngModel)]="this.fichadatos1Service.selected.B1TIPO_VIA">
                  </mat-form-field><br>
         
    
          <mat-label>B.2 Nombre de la vía</mat-label>
            <mat-form-field>
                    <input matInput formControlName="B2NOMBRE_VIA" placeholder="" name="B2NOMBRE_VIA" [(ngModel)]="this.fichadatos1Service.selected.B2NOMBRE_VIA">
                  </mat-form-field> <br>
  
          <mat-label>B.3 Dirección</mat-label>
          <mat-form-field>
                <input matInput formControlName="B3DIRECCION" placeholder="" name="B3DIRECCION" [(ngModel)]="this.fichadatos1Service.selected.B3DIRECCION">
          </mat-form-field><br>
        <!-- ERROR -->
          <mat-label>B.10 Referencia</mat-label>
          <mat-form-field>
            <input matInput formControlName="B10REFERENCIA" placeholder="" name="B10REFERENCIA" [(ngModel)]="this.fichadatos1Service.selected.B10REFERENCIA">
          </mat-form-field><br>
   
          <mat-label>B.11 Teléfono(s)</mat-label><br>
          <mat-form-field>
                <input matInput formControlName="B11TELEFONO" placeholder="" name="B11TELEFONO" [(ngModel)]="this.fichadatos1Service.selected.B11TELEFONO">
          </mat-form-field><br>

          <mat-label>B.12 Celular(s)</mat-label><br>
          <mat-form-field>
                <input matInput formControlName="B12CELL" placeholder="" name="B12CELL" [(ngModel)]="this.fichadatos1Service.selected.B12CELL">
          </mat-form-field><br>
 
          <mat-label>
                C. DATOS DE LA MADRE USUARIA
          </mat-label><br>
  
          <mat-label>C.1 Nombres</mat-label><br>
          <mat-form-field>
                <input matInput formControlName="C1NOMBRE" placeholder="" name="C1NOMBRE" [(ngModel)]="this.fichadatos1Service.selected.C1NOMBRE">
          </mat-form-field><br>

          <mat-label>C.2 Apellido Paterno</mat-label><br>
          <mat-form-field>
                <input matInput formControlName="C2APELLIDOP" placeholder="" name="C2APELLIDOP" [(ngModel)]="this.fichadatos1Service.selected.C2APELLIDOP">
          </mat-form-field><br>

          <mat-label>C.3 Apellido Materno</mat-label><br>
          <mat-form-field>
                <input matInput formControlName="C3APELLIDOM" placeholder="" name="C3APELLIDOM" [(ngModel)]="this.fichadatos1Service.selected.C3APELLIDOM">
          </mat-form-field><br>

          <mat-label>C.4 DNI (8 dígitos)</mat-label><br>
          <mat-form-field>
                <input matInput formControlName="C4DNI" placeholder="" name="C4DNI" [(ngModel)]="this.fichadatos1Service.selected.C4DNI">
          </mat-form-field><br>


          <mat-label>
                D. DATOS DEL NIÑO(A)
          </mat-label><br>
    
          <mat-label>D.1 Nombres</mat-label><br>
          <mat-form-field>
                <input matInput formControlName="D1NOMBRE" placeholder="" name="D1NOMBRE" [(ngModel)]="this.fichadatos1Service.selected.D1NOMBRE">
          </mat-form-field><br>

          <mat-label>D.2 Apellido Paterno</mat-label><br>
          <mat-form-field>
                <input matInput formControlName="D2APELLIDOP" placeholder="" name="D2APELLIDOP" [(ngModel)]="this.fichadatos1Service.selected.D2APELLIDOP">
          </mat-form-field><br>

          <mat-label>D.3 Apellido Materno</mat-label><br>
          <mat-form-field>
                <input matInput formControlName="D3APELLIDOM" placeholder="" name="D3APELLIDOM" [(ngModel)]="this.fichadatos1Service.selected.D3APELLIDOM">
          </mat-form-field><br>
    
          <mat-label>D.4 DNI (8 dígitos)</mat-label><br>
          <mat-form-field>
                <input matInput formControlName="D4DNI" placeholder="" name="D4DNI" [(ngModel)]="this.fichadatos1Service.selected.D4DNI">
          </mat-form-field><br>
    
          <mat-label>
                E. ENCARGADOS DE LA ENCUESTA E.1 Encuestador/a
          </mat-label><br>

          <mat-label>Nombres Encuestador/a</mat-label><br>
          <mat-form-field>
                <input matInput formControlName="E1NOMBRE_ENCUES" placeholder="" name="E1NOMBRE_ENCUES" [(ngModel)]="this.fichadatos1Service.selected.E1NOMBRE_ENCUES">
          </mat-form-field><br>

          <mat-label>Apellido Encuestador/a</mat-label><br>
          <mat-form-field>
                <input matInput formControlName="E1APELLIDO_ENCUES" placeholder="" name="E1APELLIDO_ENCUES" [(ngModel)]="this.fichadatos1Service.selected.E1APELLIDO_ENCUES">
          </mat-form-field><br>
   
          <mat-label>DNI (8 dígitos) Encuestador/a</mat-label><br>
          <mat-form-field>
                <input matInput formControlName="E1DNI_ENCUES" placeholder="" name="E1DNI_ENCUES" [(ngModel)]="this.fichadatos1Service.selected.E1DNI_ENCUES">
          </mat-form-field><br>

          <mat-label>
                E. ENCARGADOS DE LA ENCUESTA E.2 Supervisor/a
          </mat-label><br>

          <mat-label>Nombre Supervisor</mat-label><br>
          <mat-form-field>
                <input matInput formControlName="E2NOMBRE_SUPER" placeholder="" name="E2NOMBRE_SUPER" [(ngModel)]="this.fichadatos1Service.selected.E2NOMBRE_SUPER">
          </mat-form-field><br> 
          <!-- PRUEBA 1 -->
 
          <mat-label>Apellido Supervisor</mat-label><br>
          <mat-form-field>
                <input matInput formControlName="E2APELLIDO_SUPER" placeholder="" name="E2APELLIDO_SUPER" [(ngModel)]="this.fichadatos1Service.selected.E2APELLIDO_SUPER">
          </mat-form-field><br>
   
          <mat-label>DNI (8 dígitos) Supervisor</mat-label><br>
          <mat-form-field>
                <input matInput formControlName="E2DNI_SUPER" placeholder="" name="E2DNI_SUPER" [(ngModel)]="this.fichadatos1Service.selected.E2DNI_SUPER">
          </mat-form-field><br>


          <mat-label>F. ENTREVISTA Y SUPERVISION</mat-label><br>
          <mat-label>ENCUESTADOR/A</mat-label><br>
          <mat-label>Primera Fecha</mat-label><br>
          <mat-form-field>
                <input matInput formControlName="F1FECHA_PRIMERA_E" placeholder="" name="F1FECHA_PRIMERA_E" [(ngModel)]="this.fichadatos1Service.selected.F1FECHA_PRIMERA_E">
          </mat-form-field><br>

          <mat-label>HORA DE INICIO </mat-label><br>
          <mat-form-field>
                <input matInput formControlName="F1HORA_DESDE_E" placeholder="" name="F1HORA_DESDE_E" [(ngModel)]="this.fichadatos1Service.selected.F1HORA_DESDE_E">
          </mat-form-field><br>

          <mat-label>HORA DE SALIDA </mat-label><br>
          <mat-form-field>
                <input matInput formControlName="F1HORA_HASTA_E" placeholder="" name="F1HORA_HASTA_E" [(ngModel)]="this.fichadatos1Service.selected.F1HORA_HASTA_E">
          </mat-form-field><br>
          <!-- PRUEBA 2 -->
  
          <mat-label>RESULTADO DE ENCUES. </mat-label><br>
          <mat-form-field>
                <input matInput formControlName="F1RESULTADO_ENCUESTA_E" placeholder="" name="F1RESULTADO_ENCUESTA_E" [(ngModel)]="this.fichadatos1Service.selected.F1RESULTADO_ENCUESTA_E">
          </mat-form-field><br>

          <mat-label>SUPERVISOR/A</mat-label><br>
          <mat-label>PRIMERA FECHA. </mat-label><br>
          <mat-form-field>
                <input matInput formControlName="F1FECHA_PRIMERA_SUPER" placeholder="" name="F1FECHA_PRIMERA_SUPER" [(ngModel)]="this.fichadatos1Service.selected.F1FECHA_PRIMERA_SUPER">
          </mat-form-field><br>
          <mat-label>RESULTADO DE LA ENCUESTA SUPERVISOR/A </mat-label><br>
          <mat-form-field>
                <input matInput formControlName="F1RESULTADO_ENCUESTA_SUPER" placeholder="" name="F1RESULTADO_ENCUESTA_SUPER" [(ngModel)]="this.fichadatos1Service.selected.F1RESULTADO_ENCUESTA_SUPER">
          </mat-form-field><br>

          <mat-label>Segunda Fecha</mat-label><br>
          <mat-form-field>
                <input matInput formControlName="F2FECHA_PRIMERA_S" placeholder="" name="F2FECHA_PRIMERA_S" [(ngModel)]="this.fichadatos1Service.selected.F2FECHA_PRIMERA_S">
          </mat-form-field><br>

          <mat-label>HORA DE INICIO </mat-label><br>
          <mat-form-field>
                <input matInput formControlName="F2HORA_DESDE_S" placeholder="" name="F2HORA_DESDE_S" [(ngModel)]="this.fichadatos1Service.selected.F2HORA_DESDE_S">
          </mat-form-field><br>

          <mat-label>HORA DE SALIDA </mat-label><br>
          <mat-form-field>
                <input matInput formControlName="F2HORA_HASTA_S" placeholder="" name="F2HORA_HASTA_S" [(ngModel)]="this.fichadatos1Service.selected.F2HORA_HASTA_S">
          </mat-form-field><br>
          <!-- PRUEBA 3 -->
 
          <mat-label>RESULTADO DE ENCUES. </mat-label><br>
          <mat-form-field>
                <input matInput formControlName="F2RESULTADO_ENCUESTA_S" placeholder="" name="F2RESULTADO_ENCUESTA_S" [(ngModel)]="this.fichadatos1Service.selected.F2RESULTADO_ENCUESTA_S">
          </mat-form-field><br>

          <mat-label>SUPERVISOR/A</mat-label><br>
          <mat-label>SEGUNDA FECHA. </mat-label><br>
          <mat-form-field>
                <input matInput formControlName="F2FECHA_PRIMERA_SUPER" placeholder="" name="F2FECHA_PRIMERA_SUPER" [(ngModel)]="this.fichadatos1Service.selected.F2FECHA_PRIMERA_SUPER">
          </mat-form-field><br>
          <mat-label>RESULTADO DE LA ENCUESTA SUPERVISOR/A </mat-label><br>
          <mat-form-field>
                <input matInput formControlName="F2RESULTADO_ENCUESTA_SUPER" placeholder="" name="F2RESULTADO_ENCUESTA_SUPER" [(ngModel)]="this.fichadatos1Service.selected.F2RESULTADO_ENCUESTA_SUPER">
          </mat-form-field><br>

    

          <mat-label>G. RESULTADO FINAL DE LA ENCUESTA</mat-label><br>
          <mat-label>G.1 Fecha</mat-label>
          <mat-form-field>
                <input matInput formControlName="G1FECHA" placeholder="" name="G1FECHA" [(ngModel)]="this.fichadatos1Service.selected.G1FECHA">
          </mat-form-field><br>
    
          <mat-label>G.2 Resultado</mat-label>
          <mat-form-field>
                <input matInput formControlName="G2RESULTADO" placeholder="" name="G2RESULTADO" [(ngModel)]="this.fichadatos1Service.selected.G2RESULTADO">
          </mat-form-field><br>

          <mat-label>H. DOCUMENTACIÓN REVISADA</mat-label><br>
          <mat-label>(ENCUESTADOR: Circule toda la documentación de la que dispone la madre y le permita verla)</mat-label><br>
          <mat-label>1. DNI del niño (a)</mat-label>
          <mat-form-field>
          <mat-select placeholder="" name="H1DNI_NINO" [(ngModel)]="this.fichadatos1Service.selected.H1DNI_NINO" formControlName="H1DNI_NINO">
              <mat-option value="">Seleccione</mat-option>
              <mat-option value="SI">SI</mat-option>
              <mat-option value="NO">NO</mat-option>
            </mat-select>
          </mat-form-field><br>
            <!-- PRUEBA 4 -->
            
          <mat-label>2. Carnet de controles CRED</mat-label>
          <mat-form-field>
          <mat-select placeholder="" name="H2CARNET_CONTROLES_CRED" [(ngModel)]="this.fichadatos1Service.selected.H2CARNET_CONTROLES_CRED" formControlName="H2CARNET_CONTROLES_CRED">
              <mat-option value="">Seleccione</mat-option>
              <mat-option value="SI">SI</mat-option>
              <mat-option value="NO">NO</mat-option>
            </mat-select>
          </mat-form-field><br>


          <mat-label>3. Tarjeta de resultados de hemoglobina</mat-label>
          <mat-form-field>
            <mat-select placeholder="" name="RESULTADO_TARJETA" [(ngModel)]="this.fichadatos1Service.selected.RESULTADO_TARJETA" formControlName="RESULTADO_TARJETA">
                  <mat-option value="">Seleccione</mat-option>
                  <mat-option value="SI">SI</mat-option>
                  <mat-option value="NO">NO</mat-option>
                </mat-select>
              </mat-form-field><br>
  
          <mat-label>COMENTARIOS U OBSERVACIONES DEL ENCUESTADOR</mat-label><br>
          <mat-form-field>
                <input matInput formControlName="OBSERVACIONES" placeholder="" name="OBSERVACIONES" [(ngModel)]="this.fichadatos1Service.selected.OBSERVACIONES">
                </mat-form-field><br>

        </div>
      </mat-tab>
    
          
        <mat-tab label="GUARDAR">
        <div class="container">
          <button mat-raised-button color="primary" type="submit" [disabled]="fichadatos1Service.form.invalid"><mat-icon>save</mat-icon>Guardar</button>&nbsp;
          </div>
        </mat-tab>
      
      </mat-tab-group>
    </form>
      